<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-paytm-customuisdk"
    version="1.0.0">
    <name>cordova-paytm-customuisdk</name>
    <description>Paytm Custom UI SDK</description>
    <license></license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>
    
    <js-module src="www/CustomUISDK.js" name="CustomUISDK">
      <runs/>
      <clobbers target="paytm.customuisdk" />
    </js-module>

    <!-- android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CustomUISDK">
          <param name="android-package" value="com.paytm.CustomUISDK" />
        </feature>
      </config-file>
      <source-file src="src/android/com/paytm/CustomUISDK.java" target-dir="src/com/paytm/" />
      <source-file src="src/android/com/paytm/MyApplication.java" target-dir="src/com/paytm" />
      <source-file src="src/android/res/layout/custom_layout.xml" target-dir="res/layout" />
      <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
    <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:name="com.paytm.MyApplication"/>
    </edit-config>
    </platform>
    
    <!-- iOS -->
    <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="CustomUISDK">
        <param name="ios-package" value="CustomUISDK" />
      </feature>
    </config-file>
    <source-file src="src/ios/CustomUISDK.swift" />
    <framework src="src/ios/PaytmNativeSDK.framework" custom="true" embed="true" />
    <hook type="after_plugin_add" src="src/ios/after_plugin_install.js" />
    <hook type="after_platform_add" src="src/ios/after_plugin_install.js" />
  </platform>
</plugin>
